<div class="row">
	<div class="six columns centered">
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
			<h2>Sign up <%= @plan.titleize if @plan %></h2>
			<%= hidden_field_tag 'plan', @plan %>
		  <%= f.error_notification %>
		  <%= display_base_errors resource %>
		  <%= f.input :name, :autofocus => true %> 
		  <%= f.input :email, :required => true %>
		  <%= f.input :password, :required => true %>
		  <%= f.input :password_confirmation, :required => true %>
		  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
		<% end %>
	</div>
</div>