<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head id="www-vendorama-com" data-template-set="html5-reset">
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= yield(:title) %> | Vendorama</title>

    <meta name="title" content="<%= yield(:title) %> | Vendorama">
    <meta name="description" content="<%= yield(:description) %>">

    <meta name="author" content="Vendorama">
    <meta name="Copyright" content="Copyright Vendorama 2012. Todos los Derechos Reservados.">

    <meta name="DC.title" content="<%= yield(:title) %> | Vendorama">
    <meta name="DC.subject" content="<%= yield(:description) %>">
    <meta name="DC.creator" content="Vendorama Co. Team">

    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

    <%= stylesheet_link_tag    "site/application", media: "all" %>
    <%= javascript_include_tag "site/application" %>
    <%= csrf_meta_tags %>    
</head>

  <body id="<%= controller_name %>" class="<%= action_name %>">

    <header>
      <%= render 'site/layouts/navigation' %>
    </header>

    <%= yield %>

    <%= render 'site/layouts/footer' %>

    <% if controller_name == 'home' %>
      <canvas id="lines" width="1060" height="3500"></canvas>
    <% end %>
     
  <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33018745-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  </body>
</html>